$white: #ffffff;
$black: #000000;
$gray: #666666;
$lightgray: #cccccc;

$theme: #fe4144; // 主题色
$background: #f2f2f2; // 通用背景色
$border: #aaa; // 通用描边色
$lose: #23bb00; // 输
$win: #fe4144; // 赢
$font: #000000; // 主字体颜色
$tip: #ffb849; // 提示文字
$desc: #b3b3b3; // 描述详情文字


$active: #fe4144; // 高亮色
$deactive: #808080; // 失效色
$disabled: #c2c2cb; // 无效色

$font_normal: .3rem;
$font_big: .36rem;
$font_small: .28rem;
$font_mini: .24rem;

